.inside::after{
    clear: both;
    display: block;
    content: '';
}

.form-group{
    width: 100%;
    float: left;
}

.half-group{
    box-sizing: border-box;
    width: 50%;
}

.half-group:nth-child(odd){
    padding-left: 10px;
    border-left: 1px solid #f1f1f1;
}

.half-group:nth-child(even){
    padding-right: 10px;
    border-right: 1px solid #f1f1f1;
}

input.customInput{
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
    margin: 10px 0;
}

.form-group input[type=checkbox]{
    margin: 10px 0;
}

.form-group label{
     font-weight: 600;
}

.form-group textarea{
    font-size: 1.7em;
    line-height: 100%;
    width: 100%;
    overflow-x: none;
}

select.customInput{
    margin: 10px 0;
}

.halfSection{
    width: 50%;
    float: left;
}

.halfSection:nth-child(odd){
    box-sizing: border-box;
    padding-right: 10px;
}

.halfSection:nth-child(event){
    box-sizing: border-box;
    padding-left: 10px;
}

.newAlternatingSection::after{
    clear: both;
    content: '';
    display: block;
}

.process_custom_images{
    display: none;
}

button.set_custom_images.button{
    margin-top: 10px;
    display: block;
}

button.remove_section_button{
    background-color: #e74c3c !important;
    border-color: #e74c3c !important;
    color: white !important;
}

.alert-error{
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
}
