.bg-dark{
    background-color: transparent !important;
}

#header-nav-collapse ul li a{
    color: white;
}

footer{
    background-color: #0c4956;
}

.footerNavContainer ul li a{
    color: #ffffff;
}
ul.sub-menu>li>a{
    color: #37b6b5;
}

.home-icons p{
    color: black;
}

.promotions .card-body p,
.promotions .card-body h5{
    color: black;
}
